<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>生活大爆炸.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B1FC1061CD10032007581E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B1FC11F1CD10032007581E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B1FC12A1CD10032007581E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
